

body {
    background-color: rgb(83, 28, 28);
    display: grid;
    grid-template-rows: 100px 1fr;
    gap: 50px;
    padding: 0px;
    margin: 0px;

}

h1 {
    justify-self: center;
}

#header {
    background-color: paleturquoise;
    align-self: start;
    display: grid;
}

#main {
    
}

#library {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    
}

.book {
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: rgb(238, 76, 76);
    box-sizing: border-box;
    padding: 0px;
    border: 2px transparent solid;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 2px;
}

.book:hover {
    border: 2px solid white;
    transition: 300ms;
}

button {
    border-radius: 8px;
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    font-size: 20px;    

}

#openModal {
    margin-left: 100px;
}

dialog>button {
    margin-top: 40px;
}

dialog * {
    margin: 10px;
}

dialog {
    text-align: center;
    height: 400px;
    width: 280px;
    border: 1px brown solid;
    border-radius: 12px;
    background-color: brown;
    padding: 20px;
}

input[type="text"] {
    border-radius: 10px;
    font-size: 18px;
    margin: 15px 0px 15px 0px;
    padding: 4px 12px;
    width: 220px;
}

#readStatus {
    margin-top: 20px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.book > button {
    height: 40px;
    width: 120px;
    margin-top: 20px;
}

.finished {
    display: inline;
}